/* =========================
   PROJECTS PAGE LAYOUT
   ========================= */

.projects-container {

  width: 90%;
  max-width: 1300px;

  margin: 80px auto;

  display: flex;
  flex-direction: column;

  gap: 80px;
}