<nav class="navbar">

    <div class="nav-logo">
      Nicholas Wanner
    </div>
  
    <ul class="nav-links">
  
      <li>
        <a href="index.html">Career</a>
      </li>
  
      <li>
        <a href="projects.html">Personal Projects</a>
      </li>
  
      <li>
        <a
          href="https://github.com/wannernicholas?tab=repositories"
          target="_blank"
        >
          GitHub
        </a>
      </li>

      <li>
        <a
          href="https://www.linkedin.com/in/nicholas-wanner/?skipRedirect=true"
          target="_blank"
        >
          LinkedIn
        </a>
      </li>
  
    </ul>
  </nav>
